* {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: gray;
}
#main_page {
  margin-top: 20px;
}
header {
  margin: 0;
  background-image: url("../assets/images/IMG_9617.jpg");
  padding: 0;
  background-position: center;
  background-size: cover;
  height: 400px;
}
nav {
  padding: 20px 0 20px 0;
  background: white;
  color: black;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}

ul {
  display: flex;
}
.menu {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
}
.sub_menu {
  position: absolute;
  top: 100%;
  display: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
  color: black;
}
.sub_menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}
.sub_menu li:hover {
  background-color: #f6f6f6;
}
.fa-ellipsis-v {
  cursor: pointer;
  width: 20px;
  color: lightgray;
  text-align: center;
}
li {
  padding-left: 20px;
  list-style-type: none;
}

a {
  text-decoration: none;
}
.flex {
  display: flex;
  justify-content: space-between;
}
label {
  padding-top: 20px;
  text-align: center;
}
.block input {
  width: 250px;
  padding: 12px 20px;
  margin: 10px 0 10px 10px;
  position: relative;

  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.block {
  display: flex;
  justify-content: space-between;
}
select {
  width: 250px;
  padding: 12px 20px;

  margin: 10px 0 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.input-search {
  text-align: center;
  margin: 0 auto;
  padding-top: 120px;
}
.input-search input {
  width: 50%;
  padding: 12px 20px;
  margin: 10px 0 10px 10px;
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.modal-content input {
  width: 250px;
  padding: 12px 20px;
  margin: 10px 0 10px 10px;
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.title {
  text-align: center;
  margin: 10px;
}
/*Hide the Overlays*/
#add_professor {
  display: none;
}

#overlay_add {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#overlay_rating {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 1%; /* Location of the box */
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#overlay_update {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#overlay_login {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#overlay_register {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#acc_info {
  display: none;
}
.column {
  width: 450px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid lightgray;
  margin: 20px 0 20px 0;
  box-shadow: 0px 0px 5px #aaaaaa;
}
#show_options {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}
.professors_info {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
}

.column_row {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.column_left {
  width: 25%;
  padding: 10px;
  height: 150px;
}
.column_right {
  width: 65%;
  padding: 10px;
  height: 150px;

  border-left: 1px solid lightgray;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
}
.new_prof {
  display: flex;
  justify-content: space-between;
}

#comment {
  width: 384px;
  max-width: 384px;
  height: 120px;
  margin-top: 10px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
}
.overall_rating {
  font-weight: 700;
  text-align: center;
}
.difficulty {
  font-weight: 700;
  text-align: center;
}
.overall_text {
  text-align: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}
.overall_rating_text,
.overall_difficulty_text {
  margin: 5px 0;
  font-weight: 700;
  font-size: 14px;
}
.options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.right {
  float: right;
}

.rate_buttons {
  display: flex;
  float: right;
  flex-direction: column;
}
.rate_buttons button {
  margin: 5px;
}
.show_prof_ratings {
  display: block;
}
#overlay_show_ratings {
  position: fixed;
  display: none;
  z-index: 1;
  padding-top: 1%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 1000px;
}
#professor_ratings {
  display: flex;
  flex-flow: column wrap;
  width: 600px;
  margin: 0 auto;
  justify-content: space-around;
}
.rating_box {
  width: 100%;
  height: 100%;
  display: inherit;
  border: 1px solid lightgray;
  margin: 20px 0 20px 0;
}

.class_details {
  width: 35%;
  padding: 10px;
  background: white;
}
.button_form {
  min-width: 49%;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #bb4145),
    color-stop(1, #ba1c21)
  );
  background-color: #bb4145;
  border-radius: 6px;
  border: 1px solid #bb4145;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #bb4145;
}
.center {
  margin-bottom: 20px;
  width: 400px;
  text-transform: uppercase;
  margin: 0 auto;
}
.button_form:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #ba1c21),
    color-stop(1, #bb4145)
  );

  background: -moz-linear-gradient(top, #ba1c21 5%, #bb4145 100%);
  background: -webkit-linear-gradient(top, #ba1c21 5%, #bb4145 100%);
  background: -o-linear-gradient(top, #ba1c21 5%, #bb4145 100%);
  background: -ms-linear-gradient(top, #ba1c21 5%, #bb4145 100%);
  background: linear-gradient(to bottom, #ba1c21 5%, #bb4145 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba1c21', endColorstr='#bb4145',GradientType=0);
  background-color: #ba1c21;
}
.button_form:active {
  position: relative;
  top: 1px;
}

.rating_details {
  width: 10%;
  padding: 10px;
  height: 150px;
  text-align: center;
  background: white;
  border-right: 1px solid lightgray;
}
.rating_comment {
  width: 61%;
  padding: 10px;
  height: 150px;
  background: white;
  border-left: 1px solid lightgray;
}
#overlay_show_ratings::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
@media screen and (max-width: 1020px) {
  .professors_rating1 {
    width: 450px;
  }
}
